    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Registrar cuenta</div>
        <div class="card-body"> 
          <form class="form-singin" name="formuRegistro" data-ng-submit="register()">
            <div class="form-group">  
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="firstName" class="form-control" data-ng-model="nuevoUsuario.name"  name ="nuevoUsuario.name" placeholder="Nombre" required="required" autofocus="autofocus">
                    <label for="firstName">Nombre</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="text" id="lastName" class="form-control" data-ng-model="nuevoUsuario.lastName" name="nuevoUsuario.lastName" placeholder="Apellido" required="required">
                    <label for="lastName">Apellido</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" data-ng-model="nuevoUsuario.mail" name="nuevoUsuario.mail"  placeholder="Mail" required="required">
                <label for="inputEmail">Mail</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" data-ng-model="nuevoUsuario.password"  name="nuevoUsuario.password" placeholder="Contraseña" required="required">
                    <label for="inputPassword">Contraseña</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input type="password" id="confirmPassword" class="form-control" data-ng-model="nuevoUsuario.passwordComf" name="nuevoUsuario.passwordComf" data-ng-pattern="nuevoUsuario.password" placeholder="Repita contraseña" required="required" equal={{nuevoUsuaro.password}}>
                    <label for="confirmPassword">Repita contraseña</label>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit" ng-disabled="!(formuRegistro.$valid && nuevoUsuario.passwordComf == nuevoUsuario.password )">Registrarse</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="#!/login">Login</a>
            <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
          </div>
        </div>
      </div>
    </div>